img{
	max-width: 100%;
	border-radius: 10px;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 30px;
}
.Pt-serif{
	font-family: 'PT Serif', serif;
}
.grande{
	font-size: 5em;
}
.letra{
	font-size: 1.5em;
}
.espacio-derecha{
	margin-right: 1em;
}
.espacio-izquierda{
	margin-left: 1em;
}
a{
	color: #0029FA;
	font-family: 'PT Serif', serif;
	font-size: 2em;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.vete-arriba{
	vertical-align: top;
}
.borde-img{
	border-style: solid;
	border-width: 1px;
}
.linea{
	border-top-style: solid;
	border-width: 1px;
}
.borde-boton{
	border-style: solid;
	border-color: #260101;
	border-width: 2px;
}
